.button {
    color: navy !important;
    background: #ffffff !important;
    position: "relative" !important;
    font-weight: 400 !important;
    overflow: "hidden" !important;
    margin-top: 30px !important;
    padding: 1.6px !important;
    border: "none" !important;
    border-radius: 8px !important;
    letter-spacing: 3px !important;
    height: 46px !important;
}

.button::after, .button::before {
    position: "absolute";
    content: '';
    box-sizing: "border-box";
    border-radius: 8px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1;
}

.button::before {
    border-bottom: "2px solid rgba(255,255,255,.58)";
    border-top: "2px solid rgba(255,255,255,.58)";
    transform: "scale(0,1)";
}

.button::after {
    border-left: "3px solid rgba(255,255,255,.58)";
    border-right: "3px solid rgba(255,255,255,.58)";
    transform: "scale(1,0)";
}
