/* overwrites */

.customInput input {
  height: 30px;
  border-radius: 20px;
}

.customInput button {
  height: 40px;
}

/* common styles */

.alignCenter {
  display: flex;
  align-items: center;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.leftSpace {
  margin-left: 2%;
}

.noWrap {
  white-space: nowrap;
}
